body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:128px;
  top:29px;
  width:118px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:156px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:18px;
  top:182px;
  width:340px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u9 {
  position:absolute;
  left:32px;
  top:220px;
  width:309px;
  height:60px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:60px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:17px;
  width:78px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:32px;
  top:317px;
  width:130px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:211px;
  top:317px;
  width:130px;
  height:35px;
  font-size:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:14px;
  top:421px;
  width:348px;
  height:60px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:432px;
  width:328px;
  height:38px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:38px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:105px;
  visibility:hidden;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:562px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:562px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:88px;
  top:190px;
  width:200px;
  height:98px;
  color:#009DD9;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:98px;
}
#u24 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:132px;
  top:218px;
  width:113px;
  height:20px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:88px;
  top:248px;
  width:200px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u28 {
  position:absolute;
  left:88px;
  top:260px;
  width:99px;
  height:20px;
  font-size:16px;
  color:#EA7515;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:182px;
  top:254px;
  width:10px;
  height:35px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u31 {
  position:absolute;
  left:187px;
  top:260px;
  width:100px;
  height:20px;
  font-size:16px;
  color:#EA7515;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:61px;
  width:375px;
  height:47px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:88px;
  top:61px;
  width:200px;
  height:45px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
