<div class="head"><span>查询</span></div>

<div class="content log">
    <div class="querylog_part1"><span class="querylog_span2 active" data-target="#cost_log" data-toggle="tab">消费记录</span>
        <span class="querylog_span2" data-target="#recharge_log" data-toggle="tab">充值记录</span>
    </div>
    <!--class="querylog_click"-->
    <div class="tab-content">
        <div class="cost fade in active tab-pane" id="cost_log">
            <div class="monthstyle">{{yearmonth}}(消费)</div>
            <ul>
                <li class="logheader"><span>地点</span><span>时间</span><span>金额</span></li>
                <li class="logheader" ng-repeat="cost in costs"><span>{{cost.location}}</span><span>{{cost.orderTime}}</span><span>￥{{cost.price}}</span></li>
            </ul>
        </div>

        <div class="recharge fade tab-pane" id="recharge_log">
            <div class="monthstyle">{{yearmonth}}(充值)</div>
            <ul>
                <li class="logheader"><span>类型</span><span>时间</span><span>金额</span></li>
                <li class="logheader" ng-repeat="recharge in recharges"><span>动力加充值</span><span>{{recharge.rechargeTime}}</span><span>￥{{recharge.money}}</span></li>
            </ul>
        </div>
    </div>
</div>